<div class="container">
    <div class="row">
      <div class="col-sm-6"><h3>บัญชีผู้ใช้ทั้งหมด {{this.numberOfUser}} ผู้ใช้</h3></div>
    </div>
      <br>
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef> ชื่อผู้ใช้ </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> ชื่อจริง </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> นามสกุล </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="telNo">
            <mat-header-cell *matHeaderCellDef> เบอร์โทรศัพท์ </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telNo}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="remark">
            <mat-header-cell *matHeaderCellDef> หมายเหตุ </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remark}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="edit">
            <mat-header-cell  *matHeaderCellDef > แก้ไข </mat-header-cell>
            <mat-cell *matCellDef="let element" >
              <button class="btn-primary update-btn" (click)="editUserData(element)">แก้ไข</button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell  *matHeaderCellDef > ลบ </mat-header-cell>
            <mat-cell *matCellDef="let element" >
              <button class="btn-primary update-btn" (click)="deleteUserData(element)">ลบ</button>
            </mat-cell>
          </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
        <mat-paginator #paginator
                     [length]="numberOfUser"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true"
                     (page)="pageChanged($event)">
      </mat-paginator>
      </div>
  <hr>