<div class="container timer">
  <h3>ตั้งเวลาเปิดรับสลาก</h3>
    
    <form class="form-inline form-time" [formGroup]="timeForm" (ngSubmit)="saveTime(timeForm.value)" autocomplete="off" novalidate>
      <div>ตั้งแต่</div>
      <div class="col-sm-1 form-group" [ngClass] = "{'error': !validateStartHour()}">
        <small *ngIf="!validateStartHour()"> จำเป็น</small>
        <input formControlName="startHour" id="startHour" type="tel" class="form-control" maxlength="2" size="2"/>
      </div>
      <div class="colon">:</div>
      <div class="col-sm-1 form-group" [ngClass] = "{'error': !validateStartMinute()}">
        <small *ngIf="!validateStartMinute()"> จำเป็น</small>
        <input formControlName="startMinute" id="startMinute" type="tel" class="form-control" maxlength="2" size="2"/>
      </div>
      <div class="col-sm-1">จนถึง</div>
      <div class="col-sm-1 form-group " [ngClass] = "{'error': !validateEndHour()}">
        <small *ngIf="!validateEndHour()"> จำเป็น</small>
        <input formControlName="endHour" id="endHour" type="tel" class="form-control" maxlength="2" size="2"/>
      </div>
      <div class="colon">:</div>
      <div class="col-sm-1 form-group" [ngClass] = "{'error': !validateEndMinute()}">
        <small *ngIf="!validateEndMinute()"> จำเป็น</small>
        <input formControlName="endMinute" id="endMinute" type="tel" class="form-control" maxlength="2" size="2"/>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">บันทึก</button>
      </div>
    </form>
  <hr>
</div>

<div class='container auto-selection'>
  <div><h3>เลือกสลากอัตโนมัติ {{numberModel.label}} </h3></div>

  <div class="row">

  <form class="form-inline col-sm-3 count-form" [formGroup]="countForm" (ngSubmit)="saveCount(countForm.value)" autocomplete="off" novalidate>
    <div>เลือกเฉพาะงวดหมายเลข</div>
    <div class="col-sm-1 form-group" [ngClass] = "{'error': !validateCount()}">
      <small *ngIf="!validateCount()"> จำเป็น</small>
      <input formControlName="countSpec" id="countSpec" type="number" class="form-control" maxlength="2" min="1" max="99"/>
    </div>
  </form>
  
    <div class="btn col-sm-1"
    *ngFor="let number of setNumber">
      <input
      type="radio"
      [value]="number"
      [(ngModel)]="numberModel">
      &nbsp; {{number.name}}
    </div>
    
    <div class="col-sm-6">
      <button class="btn-primary btn-reset" (click)="updateLottoToFalse()"><h6>รีเซ็ต</h6></button>
      <button class="btn-primary btn-autoselect" (click)="autoSelection()"><h6>ประมวลผล</h6></button>
    </div>

  <!-- <div class="btn-group"> -->
  
  <!-- </div> -->
</div>
<hr>
<div class="lotto-list">
  <div class="row">
    <div class="col-sm-6"><h3>สลากทั้งหมด {{this.numberOfLotto}} เล่ม</h3></div>
    <div class="col-sm-6"><button class="btn-primary btn-deleteall" (click)="openConfirmationDialog()"><h6>ลบสลากทั้งหมด</h6></button></div>
  </div>
    <br>
      <mat-table #table [dataSource]="dataSourceAll">

        <ng-container matColumnDef="bookNumber">
          <mat-header-cell *matHeaderCellDef> เล่ม </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.bookNumber}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="countNumber">
          <mat-header-cell *matHeaderCellDef> งวด </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.countNumber}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="groupNumber">
          <mat-header-cell *matHeaderCellDef> ชุด </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.groupNumber}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="sender">
          <mat-header-cell *matHeaderCellDef> ผู้ส่ง </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sender}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> สถานะ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="selected">
          <mat-header-cell  *matHeaderCellDef > เลือกชน </mat-header-cell>
          <mat-cell *matCellDef="let element" >
            <button class="btn-primary update-btn" (click)="updateLotto(element)">เลือก</button>
          </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumnsAll"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsAll;"></mat-row>
    </mat-table>
  
    
      <mat-paginator #paginatorAll
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
      <hr>
      <div class='export'>
        <div class="row">
          <div class="col-sm-6"><h3>Export Lotto Data</h3></div>
          <div class="col-sm-6">
            <button class="btn-primary btn-export" (click)="exporter.exportTable('xlsx', {fileName: this.selectedUser})" [disabled]= "isDisable">EXPORT AS EXCEL</button>
            <!-- <button class="btn-primary btn-export" (click)="exporter.exportTable('csv', {fileName: this.selectedUser})" [disabled]= "isDisable">CSV</button> -->
          </div>
        </div>
        <mat-form-field>
          <mat-label>ชื่อผู้ใช้</mat-label>
          <mat-select [(ngModel)]="selectedUser" (ngModelChange)="updateUserLotto()">
            <mat-option *ngFor="let user of userList" [value]="user.userName">
              {{user.userName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
      <mat-table matTableExporter [dataSource]="dataSourceUser" #exporter="matTableExporter">

        <ng-container matColumnDef="bookNumber">
          <mat-header-cell *matHeaderCellDef> เล่ม </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.bookNumber}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="countNumber">
          <mat-header-cell *matHeaderCellDef> งวด </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.countNumber}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="groupNumber">
          <mat-header-cell *matHeaderCellDef> ชุด </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.groupNumber}} </mat-cell>
        </ng-container>
        
      <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsUser;"></mat-row>
    </mat-table>
    <mat-paginator #paginatorUser
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
    </mat-paginator>
    </div>
</div>
