<div class="container timer">
  <h1>ตั้งเวลาเปิดรับสลาก</h1>
  <div class="row padding">
    <div class="col-sm-1">ตั้งแต่</div>
    <div class="col-sm-2"><input class="input"> : <input class="input"> น.</div>
    <div class="col-sm-1">จนถึง</div>
    <div class="col-sm-2"><input class="input"> : <input class="input"> น.</div>
    <div class="col-sm-6"><button class="btn-primary save-button">บันทึกเวลา</button></div>
  </div>
</div>
<hr>
<div class="container lotto-list">
  <div class="row">
    <div class="col-sm-6"><h1>สลากทั้งหมด</h1></div>
    <div class="col-sm-6"><button class="btn-primary btn-deleteall" (click)="openConfirmationDialog()"><h6>ลบสลากทั้งหมด</h6></button></div>
  </div>
    <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">เล่ม</th>
            <th scope="col">งวด</th>
            <th scope="col">ชุด</th>
            <th scope="col">ผู้ส่ง</th>
            <th scope="col">สถานะ</th>
            <th scope="col">เลือกชน</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let data of lottoListData">
            <td>{{data.bookNumber}}</td>
            <td>{{data.countNumber}}</td>
            <td>{{data.groupNumber}}</td>
            <td>{{data.sender}}</td>
            <td>{{data.status}}</td>
            <td><button class="btn-primary update-btn" (click)="updateLotto(data)">เลือก</button></td>
          </tr>
        </tbody>
      </table>
    </div>
<hr>