<div class="container lotto-list">
    <h1>สลากทั้งหมด</h1>
    <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">เล่ม</th>
            <th scope="col">งวด</th>
            <th scope="col">ชุด</th>
            <th scope="col">ผู้ส่ง</th>
            <th scope="col">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let data of lottoListData">
            <td>{{data.bookNumber}}</td>
            <td>{{data.countNumber}}</td>
            <td>{{data.groupNumber}}</td>
            <td>{{data.sender}}</td>
            <td>{{data.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>