table {
    width: 100%;
  }

.header {
  padding-top: 20px;
}

.lotto-list {
  padding-top: 30px;
}

.update-btn {
  border-radius: .25rem;
}

.btn-deleteall {
  float: right;
  border-radius: .25rem;
  padding: 5px;
  padding-top: 10px;
}

.input {
  width: 50px;
}

.timer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.padding {
  padding-top: 20px;
}

.save-button {
  float: right;
  border-radius: .25rem;
  padding: 7px;
}

small{
  float: right;
  color: #E05C65;
  padding-left: 10px;
}

.form-inline {
  padding-left: 30%;
}

.colon {
  padding-left: 15px;
}