.lotto-list {
  padding-top: 50px;
}

.row {
  padding-bottom: 10px;
}

.btn-primary {
  border-radius: .25rem;
  float: right;
}

.number{
  float: right;
}

mat-header-cell{
  font-size: large;
  color: gray;
  font-weight: bold;
}