
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <h2>ขั้นตอนการส่งสลาก</h2>
        <ol>
        <li>กรอกชื่อ นามสกุล สถานที่ขาย เบอร์โทรศัพท์สำหรับติดต่อกลับ</li>
        <li>เพิ่มข้อมูลหวยทุกเล่มเข้าสู่ระบบ</li>
        <li>รอประกาศผลการชนหวย</li>
        <li>ส่งหวยเฉพาะเล่มที่อยู่ในประกาศเท่านั้น</li>
        <p>(เขียนชื่อภาษาไทยทุกเล่มให้ชัดเจน)</p>
        </ol>

        <p>** หนึ่งบัญชีสามารถเข้าได้หลายเครื่องพร้อมกัน **</p>
        </div>
        <div class="col-sm-6">
        <img src="/assets/images/lotto.jpg">
        </div>
    </div>
    <div>
        <h2>ประกาศ</h2>
        <ul>
        <li>สลากที่จะนำเข้าระบบจะต้องเป็น<span style="color:red;font-weight:bold"> สลากเสรี</span> เท่านั้น</li>
        <li>บันทึก "เลขสลาก" "งวดที่" และ "ชุดที่" ตามปกสลาก </li>
        (ใส่ "งวดที่" ด้วย เพื่อป้องกันไม่ให้สลากระบบโควต้าพิมพ์เข้ามาในระบบ)
        <li>เลขสลากชุด 2 ใบที่จะส่งเข้าระบบ ต้องพิมพ์เลขสลากทั้ง 2 เล่ม </li>
        <li>ระบบจะเปิดให้ใส่ข้อมูลในเวลา<span style="color:red;font-weight:bold"> 8.00 น.</span> และ จะปิดรับในเวลา <span style="color:red;font-weight:bold"> 17.00 น.</span>  ของวันนั้น  กรุณานำสลากที่ชนชุดได้มาส่งที่ร้านไม่เกินเวลา 20.00 น.</li>
        <li><p>ขอความกรุณาตรวจเช็คเลขสลากที่นำมาชนชุดให้ถูกต้องกับข้อมูลที่ส่งเข้ามา</p></li>
        <li>ประมวลผลการชน ประมาณ​ 15-30 นาที หลังจากปิดรับเข้าระบบ</li>
        <li>พบปัญหาการใช้งาน ติดต่อ 098-8488168</li>
        </ul>
    </div>
<report-list></report-list>
</div>