<mat-toolbar color="primary" class="navbar">
    <div>LottoEast</div>
    <div>
        <span><a [routerLink] = "['/report']">หน้าหลัก</a></span>
        <span><a [routerLink] = "['/result']">ผลการชน</a></span>
        <span><a *ngIf="auth.isAdmin()"[routerLink] = "['/lotto-list']">ตรวจสอบเลข</a></span>
        <span><a *ngIf="auth.isAdmin()"[routerLink] = "['/user/adduser']">เพิ่มบัญชี</a></span>
        <span><a *ngIf="!auth.isAuthenticated()" [routerLink] = "['/user/login']">เข้าสู่ระบบ</a></span>
        <span><a *ngIf="auth.isAuthenticated()" [routerLink] = "['/user/profile']"> ยินดีต้อนรับ {{auth.currentUser.firstName}}</a></span>
        <span><a *ngIf="auth.isAuthenticated()" [routerLink]="['/user/login']" (click)="logOut()">ออกจากระบบ</a></span>
    </div>
    </mat-toolbar>