table {
    width: 100%;
  }

.header {
  padding-top: 20px;
}

.lotto-list {
  padding-top: 30px;
}

.btn-default {
  color: white;
  background-color: gray;
}

.btn-primary {
  margin-right: 10px;
}

.delete-btn {
  border-radius: .25rem;
}

small{
  float: right;
  color: #E05C65;
  padding-left: 10px;
}